body {
  font-family: Arial, sans-serif;
  background-color: #001F3F;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #003366;
  border-radius: 8px;
}

.todo-container {
  margin-top: 20px;
}

.input-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
  background-color: #ffffff;
}

.calendar-input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ffffff;
}

.add-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #003366;
}

.color-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: #007bff; }
.navy { background-color: #001F3F; }

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #00509e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-entry {
  margin-left: 10px;
  font-size: 12px;
}

.todo-item span {
  cursor: pointer;
}

.todo-item span:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.save-button,
.open-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.1s ease;
  margin: 10px;
}

.save-button:hover,
.open-button:hover {
  background-color: #0056b3;
}

.save-button:active,
.open-button:active {
  transform: scale(1.1);
}

.open-button.animate {
  animation: pop 0.5s forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
