body {
  font-family: Arial, sans-serif;
  background-color: #2a2a72;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #003366;
  border-radius: 8px;
}

.todo-container {
  margin-top: 20px;
}

.input-section {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.todo-input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
  background-color: #ffffff;
  font-size: 18px;
}

.calendar-input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ffffff;
  font-size: 18px;
}

.color-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color-button {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.red { background-color: #ff0000; }
.green { background-color: #00ff00; }
.blue { background-color: #97ffff; }
.navy { background-color: #001F3F; }
.purple { background-color: #b23aee; }
.white { background-color: #ffffff}

.white:hover,
.red:hover,
.green:hover,
.blue:hover,
.navy:hover,
.purple:hover {
  transform: scale(1.1);
}
.white:active,
.red:active,
.green:active,
.blue:active,
.navy:active,
.purple:active {
  transform: scale(1.2);
}
.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #00509e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.calendar-entry {
  margin-left: 10px;
  font-size: 16px;
}

.todo-item span {
  display: inline-flex;
  cursor: pointer;
}

.todo-item span:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.clear-button,
.delete-button,
.add-button,
.save-button,
.open-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.1s ease;
  margin: 5px;
  font-size: 18px;
}
.add-button:hover,
.clear-button:hover,
.save-button:hover,
.open-button:hover {
  background-color: #0056b3;
}
.delete-button:hover {
  background-color: #ff0000;
}
.add-button:active,
.clear-button:active,
.save-button:active,
.open-button:active {
  transform: scale(1.1);
}
